<title>Prototype for Asset Tracking</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/static/assets/styles/main.css" />

<script type="text/javascript" src="/static/assets/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/scripts/popper.min.js"></script>
<script type="text/javascript" src="/static/assets/scripts/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/assets/scripts/main.js"></script>
