.asset-card {
  transition: border-color $transition-speed;
  border: 3px solid map-get($theme-colors, 'white');
  cursor: pointer;

  &.danger {
    &:hover, &:focus {
      border-color: map-get($theme-colors, 'scarlet');
    }
  }

  &.warning {
    &:hover, &:focus {
      border-color: map-get($theme-colors, 'canary-yellow');
    }
  }

  &.success {
    &:hover, &:focus {
      border-color: map-get($theme-colors, 'apple-green');
    }
  }
}
