.badge {

  &-mini {
    border-radius: $border-radius;
    width: 10px;
    height: 10px;

    &.danger {
      background-color: map-get($theme-colors, 'danger');
    }
    &.ok {
      background-color: map-get($theme-colors, 'ok');
    }
    &.warning {
      color: map-get($theme-colors, 'white');
      background-color: map-get($theme-colors, 'warning');
    }
  }
}
