$hero-image-offset: 70px;
$hero-image-height: 260px;

.hero-image {
  position: relative;
  background-color: map-get($theme-one-colors, 'primary');
  min-height: $hero-image-height;
  margin-bottom: $spacing-5;

  &.margin-bottom {
    margin-bottom: calc(#{$hero-image-offset} + #{$spacing-5});
  }

  &-text {
    min-height: $hero-image-height;
  }

  &-text-overlay {
    top: $hero-image-offset;
    text-shadow: 2px 2px 5px map-get($theme-colors, 'shadow');
  }
  img {
    position: relative;
    top: $hero-image-offset;
  }
}
