$border-width: 5px;

.image-row {
  .image-row-image {
    overflow: hidden;
    a {
      display: block;
      position: relative;
      &:before {
        transition: opacity $transition-speed;
        content: '';
        opacity: 0;
        position: absolute;
        box-shadow: inset 0 0 0 5px map-get($theme-one-colors, 'primary');
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
    &-text {
      bottom: 0;
      padding: $spacing-4;
      text-shadow: 2px 2px 5px map-get($theme-colors, 'shadow');
      max-width: 100%;

      .text-heading {
        hyphens: auto;
        word-break: break-word;
      }
    }
    .tags-row {
      .badge {
        width: auto;
      }
    }
  }

  .two-images, .many-images, .single-image, .logo-images {
    .image-row-image {
      flex-basis: 100%;
      margin-right: $spacing-3;
    }
  }

  .single-image {
    justify-content: center;

    .image-row-image {
      @include media-breakpoint-up(md) {
        flex-basis: calc(50% - #{$spacing-3});
      }

      &-text {
        .text-heading {
          font-size: map-get($font-size-map, 'md');
          @include media-breakpoint-up(sm) {
            font-size: map-get($font-size-map, 'md');
          }
          @include media-breakpoint-up(md) {
            font-size: map-get($font-size-map, 'm');
          }
          @include media-breakpoint-up(lg) {
            font-size: map-get($font-size-map, 'lg');
          }
        }
      }
    }
  }

  .two-images {
    .image-row-image {
      @include media-breakpoint-up(md) {
        flex-basis: calc(50% - #{$spacing-3});
      }

      &-text {
        .text-heading {
          font-size: map-get($font-size-map, 'lg');
          @include media-breakpoint-up(sm) {
            font-size: map-get($font-size-map, 'm');
          }
          @include media-breakpoint-up(md) {
            font-size: map-get($font-size-map, 'm');
          }
          @include media-breakpoint-up(lg) {
            font-size: map-get($font-size-map, 'lg');
          }
        }
      }
    }
  }

  .many-images {
    .image-row-image {
      @include media-breakpoint-up(sm) {
        flex-basis: calc(50% - #{$spacing-3});
      }
      @include media-breakpoint-up(md) {
        flex-basis: calc(33.3333% - #{$spacing-3});
      }
      @include media-breakpoint-up(lg) {
        flex-basis: calc(25% - #{$spacing-3});
      }

      &-text {
        .text-heading {
          font-size: map-get($font-size-map, 'lg');
          @include media-breakpoint-up(sm) {
            font-size: map-get($font-size-map, 'sm');
          }
          @include media-breakpoint-up(lg) {
            font-size: map-get($font-size-map, 'md');
          }
        }
      }
    }
  }

  .logo-images {
    .image-row-image {
      a {
        max-height: 80px;
        &:before {
          visibility: hidden !important;
          box-shadow: none;
        }
      }
      flex-basis: calc(50% - #{$spacing-3});
      @include media-breakpoint-up(sm) {
        flex-basis: calc(33.3333% - #{$spacing-3});
      }
      @include media-breakpoint-up(md) {
        flex-basis: calc(25% - #{$spacing-3});
      }
      @include media-breakpoint-up(lg) {
        flex-basis: calc(20% - #{$spacing-3});
      }
      @include media-breakpoint-up(xl) {
        flex-basis: calc(16.6666% - #{$spacing-3});
      }

      img {
        max-height: 80px;
      }
    }
  }
}
