$searchingAssetsHeight: 999999999px;
$mobileHeaderZindex: 1000;

.mobile-header {
  z-index: $mobileHeaderZindex;
  position: relative;
  box-shadow: 1px 1px 10px map-get($theme-colors, 'slate-50');
  background-color: map-get($theme-colors, 'white');
  line-height: 1.7rem;

  .navbar {
    .bar_chart {
      transform: rotate(90deg);
    }

    .search {
      position: absolute;
      right: 10px;
    }
  }

  .asset-information-list {
    transition: max-height 0.4s;
    max-height: 0;
    overflow: hidden;

    &-item {
      .btn-navigate {
        background: 0;
        border: 0;
      }

      &.warning {
        .asset-information-list-item-status {
          color: map-get($theme-colors, 'canary-yellow');
        }
      }

      &.danger {
        .asset-information-list-item-status, .asset-information-content {
          animation: danger-glow-color 2000ms infinite;
          color: map-get($theme-colors, 'tomato');
        }
      }
    }
  }

  &.searching {
    .asset-information-list {
      max-height: $searchingAssetsHeight;
    }
  }
}
