.navbar {
  box-shadow: 1px 1px 10px map-get($theme-colors, 'slate-50');
  background-color: map-get($theme-colors, 'white');

  .bar_chart {
    transform: rotate(90deg);
  }

  .search {
    position: absolute;
    right: 30px;
  }
}
