.profile-list {
  background-color: map-get($theme-one-colors, 'primary');

  .show-more-link {
    transition: margin-right $transition-speed;
    text-decoration: none;
    &:hover {
      margin-right: -5px;
      color: map-get($theme-one-colors, 'secondary');
    }
  }

  &-image {
    margin: 0 auto;
    border-radius: 50%;
    transition: border-color $transition-speed;
    overflow: hidden;
    border: 5px solid map-get($theme-colors, 'white');

    .text {
      transition: opacity .2s;
      transition: top .2s;
      opacity: 0;
      top: 30%;
      text-align: center;
      right: 0;
      left: 0;
    }

    &:before {
      background-color: black;
      transition: opacity .2s;
      opacity: 0;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:hover, &:focus {
      .text {
        opacity: 1;
        top: 38%;
      }

      &:before {
        opacity: .6;
      }
    }

    @include media-breakpoint-up(sm) {
      max-height: 160px;
      max-width: 160px;
    }

    @include media-breakpoint-up(md) {
      max-height: 216px;
      max-width: 216px;
    }

    @include media-breakpoint-up(lg) {
      max-height: 170px;
      max-width: 170px;
    }

    @include media-breakpoint-up(l) {
      max-height: 205px;
      max-width: 205px;
    }

    &:hover {
      border-color: map-get($theme-one-colors, 'secondary');
    }
  }

  &-profile {
    flex-basis: calc(50% - #{$spacing-2});

    @include media-breakpoint-up(sm) {
      &:not(:nth-child(3n+3)) {
        padding-right: $spacing-3;
      }
      flex-basis: calc(36% - #{$spacing-3});
    }

    @include media-breakpoint-up(md) {
      &:not(:nth-child(3n+3)) {
        padding-right: $spacing-3;
      }
      flex-basis: calc(35.6% - #{$spacing-3});
    }

    @include media-breakpoint-up(lg) {
      &:not(:nth-child(5n+5)) {
        padding-right: $spacing-3;
      }
      flex-basis: calc(21.69% - #{$spacing-3});
    }

    @include media-breakpoint-up(l) {
      &:not(:nth-child(5n+5)) {
        padding-right: $spacing-3;
      }
      flex-basis: calc(21.42% - #{$spacing-3});
    }

    .description {
      margin-bottom: 0;
    }

    .text-row {
      max-height: 100%;
      transition: opacity .3s;
      opacity: 1;
      z-index: 100;
    }
  }
}
