
.sidebar {
  background-color: map-get($theme-colors, 'white');
  transition: left $transition-speed;
  position: fixed;
  top: $desktopHeaderHeight;
  bottom: 0;
  box-shadow: 0px 5px 10px map-get($theme-colors, 'slate');
  padding-top: $spacing-3 $spacing-2 0 0;
  left: -$sidebar-active-width;
  width: $sidebar-active-width;
  z-index: $sidebarZindex;

  .scroll-wrapper {
    overflow: scroll;
  }

  &.development {
    left: 0;
  }
}

body {
  &.sidebar-active {
    .sidebar {
      left: 0;
    }
  }
}
