.tags-row {

  &.function {
    .badge {
      background-color: map-get($theme-colors, 'light');
      &:hover {
        background-color: map-get($theme-one-colors, 'secondary');
      }
    }
  }

  &.theme {
    .badge {
      background-color: map-get($theme-colors, 'dark');
      &:hover {
        background-color: map-get($theme-one-colors, 'secondary');
      }
    }
  }

  &.project {
    .badge {
      background-color: map-get($theme-colors, 'lighter');
      &:hover {
        background-color: map-get($theme-one-colors, 'secondary');
      }
    }
  }

  .badge {
    transition: background-color $transition-speed;
    color: map-get($theme-colors, 'white');
    text-decoration: none;

    &.theme {
      background-color: map-get($theme-colors, 'light');
      &:hover {
        background-color: map-get($theme-one-colors, 'secondary');
      }
    }

    &.function {
      background-color: map-get($theme-colors, 'dark');
      &:hover {
        background-color: map-get($theme-one-colors, 'secondary');
      }
    }

    &.project {
      background-color: map-get($theme-colors, 'lighter');
      &:hover {
        background-color: map-get($theme-one-colors, 'secondary');
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}
