input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  border: 1px solid map-get($theme-colors, 'scarlet');
  transition: border-color $transition-speed;
  line-height: normal;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 1;
    transition: opacity .2s;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}
