input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  transition: border-color $transition-speed;
  line-height: normal;
  border: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 1;
    transition: opacity .2s;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

.input-icon-group {
  .input-field {
    border-bottom: 1px solid map-get($theme-colors, 'slate-20');
    text-indent: $spacing-2;
  }
}
