<div data-component="asset-card" class="asset-card <%= asset.alert.level %> inner-shadow p-2 m-2 position-relative d-flex flex-column <% if(asset.withindetail) { %>small<% } %>">
  <% if(asset.type === 'generator') { %>
    <%- include('./asset-card-generator.ejs', {
      asset: asset
    }) %>
  <% } else if(asset.type === 'fuel') { %>
    <%- include('./asset-card-fuel.ejs', {
      asset: asset
    }) %>
  <% } %>
</div>
