<div id="asset-search" class="asset-search position-relative mb-3 d-flex align-items-center">
  <i class="material-icons position-absolute">search</i>
  <input type="text" class="p-3 pr-5 w-100 font-size-s" placeholder="Search by name" />
</div>
