<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <main role="main" class="main-container">
    <%- include('./' + file + '.ejs', {
      mapAssetLabel: {
        dev: true,
        status: null
      }
    }) %>
  </main>
</body>
</html>
