<% const activeClassName = footer.active ? 'active' : '' %>

<footer class="mobile-footer <%= activeClassName %>">
  <div class="mx-auto d-flex flex-row mobile-footer-inner">
    <button class="p-0 d-flex flex-column align-items-center justify-content-center">
      <i class="material-icons font-size-md">bar_chart</i>
      <span class="text-uppercase">stats</span>
    </button>
    <button class="<%= activeClassName %>  p-0 d-flex flex-column align-items-center justify-content-center">
      <i class="material-icons font-size-md">local_phone</i>
      <span class="text-uppercase">call</span>
    </button>
  </div>

  <% if(footer.active) { %>
    <div class="pt-1 mobile-footer-details w-100 position-absolute">
      <div class="inner-shadow p-3">
        <div class="d-flex flex-column justify-content-between">
          <p class="d-flex align-items-center">
            <i class="material-icons mr-2">person</i>
            W Falkowski
          </p>
          <p class="mb-0 font-weight-bold">Gemeente Arnhem</p>
        </div>
        <p class="mb-0 color-scarlet font-weight-bold">0611 574639</p>
      </div>
    </div>
  <% } %>
</footer>
