<footer class="mobile-footer">
  <div class="mx-auto d-flex flex-row mobile-footer-inner">
    <button class="p-0 d-flex flex-column align-items-center justify-content-center">
      <i class="material-icons font-size-md">bar_chart</i>
      <span class="text-uppercase">stats</span>
    </button>
    <button class="selected p-0 d-flex flex-column align-items-center justify-content-center">
      <i class="material-icons font-size-md">local_phone</i>
      <span class="text-uppercase">call</span>
    </button>
  </div>
</footer>
