<div class="mobile-header asset-selected">
  <nav class="navbar justify-content-start py-3">
    <i class="material-icons color-scarlet bar_chart mr-3 font-size-lg">bar_chart</i>
    <input type="text" class="p-3 pr-5 flex-1 font-size-sm header-search" placeholder="Search assets ..." />
    <i class="material-icons color-scarlet search font-size-md">search</i>
  </nav>

  <div class="asset-information">
    <div class="px-3 py-2 d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <i class="material-icons mr-3">error_outline</i>
        <div class="d-flex flex-column text-uppercase asset-information-content pr-4">
          <p class="mb-0 font-size-sm font-weight-bold">HAG-0231</p>
          <p class="mb-0 font-size-xs">ketelweg 2, APELDOORN</p>
        </div>
      </div>
      <button class="btn-navigate text-uppercase justify-self-end pl-4 font-size-sm color-scarlet">go</button>
    </div>
  </div>
</div>
