<nav class="navbar justify-content-start pt-3">
  <i class="material-icons color-scarlet bar_chart mr-3 font-size-lg">bar_chart</i>
  <input type="text" class="p-3 pr-5 flex-1 font-size-sm header-search" placeholder="Search assets ..." />
  <i class="material-icons color-scarlet search font-size-md">search</i>
</nav>
