$border-positions: [
  'top',
  'right',
  'bottom',
  'left',
];

.border-solid {
  border: 1px solid map-get($theme-colors, 'black');
}
.border-dashed {
  border: 1px solid map-get($theme-colors, 'black');
}
.border-none {
  border: none;
}

@each $position in $border-positions {
  .border-#{$position}-solid {
    border-#{$position}: 1px solid map-get($theme-colors, 'black');
  }
  .border-#{$position}-dashed {
    border-#{$position}: 1px dashed map-get($theme-colors, 'black');
  }
  .border-#{$position}-none {
    border-#{$position}: none;
  }

  @each $key, $breakpoint in $grid-breakpoints {
    .border-#{$position}-#{$key}-solid {
      @include media-breakpoint-up(#{$key}) {
        border-#{$position}: 1px solid map-get($theme-colors, 'black');
      }
    }
    .border-#{$position}-#{$key}-dashed {
      @include media-breakpoint-up(#{$key}) {
        border-#{$position}: 1px dashed map-get($theme-colors, 'black');
      }
    }
    .border-#{$position}-#{$key}-none {
      @include media-breakpoint-up(#{$key}) {
        border-#{$position}: none;
      }
    }
    .border-#{$key}-none {
      @include media-breakpoint-up(#{$key}) {
        border: none;
      }
    }
  }
}
