$widthSizes: '10' '20' '30' '40' '50' '60' '70' '80' '90' '100';

@each $counter in $widthSizes {
  .vh-#{$counter} {
    min-height: #{$counter + "vh"};
  }
  .vw-#{$counter} {
    min-width: #{$counter + "vw"};
  }
  .max-width-#{$counter} {
    max-width: #{$counter + "%"};
  }

  @each $key, $breakpoint in $grid-breakpoints {
    @include media-breakpoint-up($key) {
      .max-width-#{$key}-#{$counter} {
        max-width: #{$counter + "%"} !important;
      }
    }
  }
}
