<body>
  <% include ../components/mobile-header.ejs %>
  <% include ../components/asset-map.ejs %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJLe4pQbV04BMU3i8bOx3MYKek9O2gmz0&callback=initMap" async defer></script>
</body>
</html>
