$heroNew: 'Hero New', Arial, Helvetica, sans-serif;
$heroNewHairline: 'Hero New Hairline', Arial, Helvetica, sans-serif;
$heroNewSuper: 'Hero New Super', Arial, Helvetica, sans-serif;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-4: 1.5rem;
$spacing-5: 3rem;

$xxs: $font-size-base * 0.9;
$xs: $font-size-base * 1.10;
$sm: $font-size-base * 1.375;
$md: $font-size-base * 1.75;
$m: $font-size-base * 2.15;
$lg: $font-size-base * 2.50;
$l: $font-size-base * 3;
$xl: $font-size-base * 3.75;

$font-size-map: (
  (xxs): ($xxs),
  (xs): ($xs),
  (sm): ($sm),
  (md): ($md),
  (m): ($m),
  (lg): ($lg),
  (l): ($l),
  (xl): ($xl),
);

$header-font-size-map: (
  (h1): ($xl),
  (h2): ($l),
  (h3): ($lg),
  (h4): ($m),
  (h5): ($md),
);

$color-black: rgb(0,0,0) !default; // #000000
$color-dark: rgb(15,15,15) !default; // #010101
$color-white: rgb(255,255,255) !default; // #FFFFFF
$color-light: rgb(120,120,120) !default; // #787878
$color-lighter: rgb(182,182,182) !default; // #B6B6B6
$color-shadow: rgba(0,0,0,.6) !default;
$color-link: rgb(0,86,179) !default; // #0056B3

$darkenerPercentile: 38%;
$transition-speed: .2s;
$sidebar-width: 230px;
$sidebar-width-offset: #{$sidebar-width};

$theme-one-primary: rgb(198,252,242) !default; // #C6FCF2
$theme-one-secondary: darken($theme-one-primary, $darkenerPercentile);

$theme-one-colors: (
  "primary": $theme-one-primary,
  "secondary": $theme-one-secondary,
);

$theme-two-primary: rgb(255,206,152) !default; // #FFCE98
$theme-two-secondary: darken($theme-two-primary, $darkenerPercentile);

$theme-two-colors: (
  "primary": $theme-two-primary,
  "secondary": $theme-two-secondary,
);

$theme-three-primary: rgb(154,196,237) !default; // #9AC4ED
$theme-three-secondary: darken($theme-three-primary, $darkenerPercentile);

$theme-three-colors: (
  "primary": $theme-three-primary,
  "secondary": $theme-three-secondary,
);

$theme-four-primary: rgb(255,222,222) !default; // #FFDEDE
$theme-four-secondary: darken($theme-four-primary, $darkenerPercentile);

$theme-four-colors: (
  "primary": $theme-four-primary,
  "secondary": $theme-four-secondary,
);

$theme-colors: (
  "black": $color-black,
  "white": $color-white,
  "light": $color-light,
  "lighter": $color-lighter,
  "dark": $color-dark,
  "shadow": $color-shadow,
  "link": $color-link,
);

$grid-breakpoints: (
  xs: 350px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  l: 1200px,
  xl: 1366px
);

$navbar-collapse-zindex: 1000;
$navbar-container-zindex: 1010;
$site-search-zindex: 1020;
