$sans: 'Source Sans Pro', sans-serif;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-4: 1.5rem;
$spacing-5: 3rem;

$xxs: $font-size-base * 0.9;
$xs: $font-size-base * 1.10;
$sm: $font-size-base * 1.375;
$md: $font-size-base * 1.75;
$m: $font-size-base * 2.15;
$lg: $font-size-base * 2.50;
$l: $font-size-base * 3;
$xl: $font-size-base * 3.75;

$font-size-map: (
  (xxs): ($xxs),
  (xs): ($xs),
  (sm): ($sm),
  (md): ($md),
  (m): ($m),
  (lg): ($lg),
  (l): ($l),
  (xl): ($xl),
);

$header-font-size-map: (
  (h1): ($xl),
  (h2): ($l),
  (h3): ($lg),
  (h4): ($m),
  (h5): ($md),
);

$color-black: rgb(0,0,0) !default; // #000000
$color-white: rgb(255,255,255) !default; // #FFFFFF
$color-off-white: rgb(247,247,247) !default; // #F7F7F7
$color-scarlet: rgb(208,1,27) !default; // #d0011b
$color-tomato: rgb(242,76,58) !default; // #f24c3a
$color-squash: rgb(245,166,35) !default; // #f5a623
$color-apple-green: rgb(126,211,33) !default; // #7ed321
$color-aqua-marine: rgb(80,227,194) !default; // #50e3c2
$color-canary-yellow: rgb(254,231,64) !default; // #fee740
$color-warm-grey: rgb(155,155,155) !default; // #9b9b9b
$color-cool-grey: rgb(140,151,164) !default; // #8c97a4
$color-slate: rgb(72,84,101) !default; // #485465
$color-slate-20: rgba(72,84,101,.2) !default; // #485465
$color-slate-50: rgba(72,84,101,.5) !default; // #485465
$color-cloudy-blue: rgb(187,201,221) !default; // #bbc9dd
$color-dark-grey: rgb(49,59,74) !default; // #313b4a
$color-dark-grey-blue: rgb(50,68,94) !default; // #32445e

$transition-speed: .2s;
$sidebar-active-width: 300px;
$assetSummaryWidth: 350px;
$assetSearchHeight: 53px;
$desktopHeaderHeight: 60px;
$sidebar-width-offset: #{$sidebar-active-width};

$theme-colors: (
  "black": $color-black,
  "white": $color-white,
  "off-white": $color-off-white,
  "scarlet": $color-scarlet,
  "tomato": $color-tomato,
  "squash": $color-squash,
  "apple-green": $color-apple-green,
  "canary-yellow": $color-canary-yellow,
  "aqua-marine": $color-aqua-marine,
  "warm-grey": $color-warm-grey,
  "cool-grey": $color-cool-grey,
  "slate": $color-slate,
  "slate-20": $color-slate-20,
  "slate-50": $color-slate-50,
  "cloudy-blue": $color-cloudy-blue,
  "dark-grey": $color-dark-grey,
  "dark-grey-blue": $color-dark-grey-blue,
);

$grid-breakpoints: (
  xs: 350px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  l: 1200px,
  xl: 1366px
);

$assetSummaryZindex: 1000;
$sidebarZindex: 1020;
$desktopHeaderZindex: 1030;
$border-radius: 5px;

@keyframes danger-glow-background {
  0% {
    background-color: map-get($theme-colors, 'tomato');
  }
  50% {
    background-color: darken(map-get($theme-colors, 'tomato'), 20%);
  }
  100% {
    background-color: map-get($theme-colors, 'tomato');
  }
}

@keyframes danger-glow-color {
  0% {
    color: map-get($theme-colors, 'tomato');
  }
  50% {
    color: darken(map-get($theme-colors, 'tomato'), 20%);
  }
  100% {
    color: map-get($theme-colors, 'tomato');
  }
}
