$font-url: '/static/assets/fonts/';

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-SemiBoldItalic.eot');
    src: url($font-url + 'HeroNew-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-SemiBoldItalic.woff2') format('woff2'),
        url($font-url + 'HeroNew-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-LightItalic.eot');
    src: url($font-url + 'HeroNew-LightItalic.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-LightItalic.woff2') format('woff2'),
        url($font-url + 'HeroNew-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hero New Hairline';
    src: url($font-url + 'HeroNew-Hairline.eot');
    src: url($font-url + 'HeroNew-Hairline.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-Hairline.woff2') format('woff2'),
        url($font-url + 'HeroNew-Hairline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-Regular.eot');
    src: url($font-url + 'HeroNew-Regular.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-Regular.woff2') format('woff2'),
        url($font-url + 'HeroNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-ThinItalic.eot');
    src: url($font-url + 'HeroNew-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-ThinItalic.woff2') format('woff2'),
        url($font-url + 'HeroNew-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-UltraLight.eot');
    src: url($font-url + 'HeroNew-UltraLight.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-UltraLight.woff2') format('woff2'),
        url($font-url + 'HeroNew-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-Bold.eot');
    src: url($font-url + 'HeroNew-Bold.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-Bold.woff2') format('woff2'),
        url($font-url + 'HeroNew-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-SemiBold.eot');
    src: url($font-url + 'HeroNew-SemiBold.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-SemiBold.woff2') format('woff2'),
        url($font-url + 'HeroNew-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hero New Super';
    src: url($font-url + 'HeroNew-Super.eot');
    src: url($font-url + 'HeroNew-Super.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-Super.woff2') format('woff2'),
        url($font-url + 'HeroNew-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-MediumItalic.eot');
    src: url($font-url + 'HeroNew-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-MediumItalic.woff2') format('woff2'),
        url($font-url + 'HeroNew-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hero New Hairline';
    src: url($font-url + 'HeroNew-HairlineItalic.eot');
    src: url($font-url + 'HeroNew-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-HairlineItalic.woff2') format('woff2'),
        url($font-url + 'HeroNew-HairlineItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-RegularItalic.eot');
    src: url($font-url + 'HeroNew-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-RegularItalic.woff2') format('woff2'),
        url($font-url + 'HeroNew-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hero New Super';
    src: url($font-url + 'HeroNew-SuperItalic.eot');
    src: url($font-url + 'HeroNew-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-SuperItalic.woff2') format('woff2'),
        url($font-url + 'HeroNew-SuperItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-Medium.eot');
    src: url($font-url + 'HeroNew-Medium.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-Medium.woff2') format('woff2'),
        url($font-url + 'HeroNew-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-Thin.eot');
    src: url($font-url + 'HeroNew-Thin.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-Thin.woff2') format('woff2'),
        url($font-url + 'HeroNew-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-ExtraBold.eot');
    src: url($font-url + 'HeroNew-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-ExtraBold.woff2') format('woff2'),
        url($font-url + 'HeroNew-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-BoldItalic.eot');
    src: url($font-url + 'HeroNew-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-BoldItalic.woff2') format('woff2'),
        url($font-url + 'HeroNew-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-UltraLightItalic.eot');
    src: url($font-url + 'HeroNew-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-UltraLightItalic.woff2') format('woff2'),
        url($font-url + 'HeroNew-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-ExtraBoldItalic.eot');
    src: url($font-url + 'HeroNew-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-ExtraBoldItalic.woff2') format('woff2'),
        url($font-url + 'HeroNew-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Hero New';
    src: url($font-url + 'HeroNew-Light.eot');
    src: url($font-url + 'HeroNew-Light.eot?#iefix') format('embedded-opentype'),
        url($font-url + 'HeroNew-Light.woff2') format('woff2'),
        url($font-url + 'HeroNew-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url($font-url + 'icomoon.eot?fmg91r');
  src:  url($font-url + 'icomoon.eot?fmg91r#iefix') format('embedded-opentype'),
    url($font-url + 'icomoon.ttf?fmg91r') format('truetype'),
    url($font-url + 'icomoon.woff?fmg91r') format('woff'),
    url($font-url + 'icomoon.svg?fmg91r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  &-icon-next:before {
    content: "\e906";
  }
  &-njr-logo-horizontal:before {
    content: "\e904";
  }
  &-njr-logo-vertical:before {
    content: "\e905";
  }
  &-icon-fb:before {
    content: "\e900";
  }
  &-icon-instagram:before {
    content: "\e901";
  }
  &-icon-linkedin:before {
    content: "\e902";
  }
  &-icon-twitter:before {
    content: "\e903";
  }
}
